* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Playfair Display', serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  text-align: center;
}

/* FRASE CENTRAL */
.container {
  width: 100%;
  max-width: 350px;
  padding: 20px;
}

/* ASPAS */
.aspas {
  font-size: 40px;
  color: #d4a055;
  margin-bottom: 10px;
}

/* FRASE */
#frase {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 15px;
}

/* LINHA */
.linha {
  width: 50px;
  height: 2px;
  background: #d4a055;
  margin: 15px auto;
}

/* AUTOR */
#autor {
  font-size: 14px;
  opacity: 0.7;
}

/* FOOTER */
.footer {
  margin-top: 25px;
  font-size: 13px;
  opacity: 0.6;
}

/* SHARE (AGORA CORRETO ABAIXO) */
.share {
  margin-top: 40px;
}

.share-text {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 15px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icons i {
  font-size: 22px;
  color: #d4a055;
}
