body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Georgia", serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-top: 40px;
  text-align: center;
}

/* Container */
.container {
  padding: 10px;
  max-width: 90%;
}

/* Aspas */
.aspas {
  font-size: 60px;
  color: #d4a055;
  margin-bottom: 20px;
}

/* Frase */
#frase {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Linha dourada */
.linha {
  width: 60px;
  height: 3px;
  background-color: #d4a055;
  margin: 10px auto;
}

/* Autor */
#autor {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 20px;
}

/* 📱 Ajuste para celular */
@media (min-width: 768px) {
  #frase {
    font-size: 32px;
  }

  .aspas {
    font-size: 80px;
  }
}
